* {
    font-family: 'arial',serif;
    margin: 0%;
    padding: 0%;
}

.container{
height: 100vh; 
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
text-align: center;
background-image: url(./photos/_.jpeg);
background-size: cover;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color:black;
    padding: 25px;
    position: fixed;
    top: 0%;
    width: 100%;
    font-size: 1.6vw;
    z-index: 100;
    opacity: 0.5;
}

.logo {
    margin-left: 1.2vw;
}

.logo img {
    height: 7vh;
    box-sizing: border-box;
    border-radius: 50%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul a {
    margin-inline: 1.5vw;
    text-decoration: none;
    color: white;
    cursor: pointer;

}

nav ul a:hover {
    color: rgb(255, 208, 0);
}


#main_logo{
    font-size: 13vw;;
    text-shadow: 7px 7px 5px rgb(0, 0, 0);
    font-family: arial, serif;
}
#slog{
    font-size: 4vw;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}


.background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover;
    z-index: -10;
    opacity: 1;
}


.main_container{
    background-image: url(./photos/Bright\ texture\ -\ awesome\ abstract\ blur\ background\ for\ webdesign\,\ colorful\ background\,\ blurred\,\ wallpaper\ _\ Premium\ Photo.jpeg);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
}


.categories{
    border-radius: 50%;
    justify-content:center;
    align-items: center;
    display: flex;
    font-size: 50px;
    box-shadow:0 0 50px rgb(104, 104, 104);
    margin-top:20vh;;
}

.main3{
    display: flex;
    margin-top: 30px;
    position:absolute;
}
#cat{
    font-size: 6vw;
    margin-left:auto;
    margin-right:auto;
    font-family:'arial', serif;
    color: black;
}

.categories p{
    text-shadow: 3px 3px 1.5px rgb(0, 0, 0);
    z-index: 10;
}

#veg{
    position: relative;
    overflow: hidden;
    background-image: url(photos/blackboard-background-with-vegetables-and-place-for-restaurant-menu-free-vector.jpg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
}

#veg:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#nveg{
    position: relative;
    overflow: hidden;
    background-image: url(photos/spicy-mutton-curry-studio-plated-indian-non-veg-dish-385330952.webp);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#nveg:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#sweet{
    position: relative;
    overflow: hidden;
    background-image: url(photos/459257782fb39ea941333e4b7e5a657b.jpg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#sweet:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#drink{
    position: relative;
    overflow: hidden;
    background-image: url(photos/beverage.webp);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#drink:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}



.main_container1{
    background-image: url(./photos/Bright\ texture\ -\ awesome\ abstract\ blur\ background\ for\ webdesign\,\ colorful\ background\,\ blurred\,\ wallpaper\ _\ Premium\ Photo.jpeg);
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
}

.main2{
    display: flex;
    margin-top: 30px;
    position:absolute;
    color: black;
}

.bestdish{
    border-radius: 50%;
    justify-content:center;
    align-items: center;
    display: flex;
    font-size: 50px;
    box-shadow:0 0 50px rgb(104, 104, 104);
    margin-top:20vh;
}

#best{
    font-size: 6vw;
    margin-left:auto;
    margin-right:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#burger{
    position: relative;
    overflow: hidden;
    background-image: url(photos/burger.jpeg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#burger:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#tchick{
    position: relative;
    overflow: hidden;
    background-image: url(./photos/tfchicken.avif);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#tchick:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#rasmalai{
    position: relative;
    overflow: hidden;
    background-image: url(./photos/rasmalai.jpg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#rasmalai:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

#lassi{
    position: relative;
    overflow: hidden;
    background-image: url(./photos/lassi.jpg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 320px;
    margin-bottom: 7vh;
}
#lassi:hover{
    height: 340px;
    width: 340px;
    transition: 0.2s ease-in;
    cursor: pointer;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    color: #ecf0f1;
    padding: 25px;
    text-align: center;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 28px;
    text-shadow: 2px 2px#000000;
}

.footer-section p {
    font-size: 22px;
    line-height: 1.7;
    text-shadow: 2px 2px#000000;
}

.feedback-textbox {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #d7be00;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.submit-button:hover {
    background-color: #67cc1f;
}
.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #a0a0a0;
    padding-top: 10px;
    font-size: 17px;
}